In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
.appName("DataFrame Basics") \
.getOrCreate()

25/02/03 10:46:28 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [3]:
data = [
(0, "Customer_0", "Bangalore", "Karnataka", "India", "2023-11-11", True),
(1, "Customer_1", "Delhi", "Delhi", "India", "2023-08-26", True),
]
columns = ["customer_id", "name", "city", "state", "country", "registration_date","is_active"]

In [4]:
df =spark.createDataFrame(data,columns)

In [5]:
df.show()

+-----------+----------+---------+---------+-------+-----------------+---------+
|customer_id|      name|     city|    state|country|registration_date|is_active|
+-----------+----------+---------+---------+-------+-----------------+---------+
|          0|Customer_0|Bangalore|Karnataka|  India|       2023-11-11|     true|
|          1|Customer_1|    Delhi|    Delhi|  India|       2023-08-26|     true|
+-----------+----------+---------+---------+-------+-----------------+---------+

In [8]:
df.select('name').show()

+----------+
|      name|
+----------+
|Customer_0|
|Customer_1|
+----------+

# Dataframe - Reading Data from CSV on HDFS

In [12]:
!hadoop fs -ls /tmp/

Found 13 items
drwxr-xr-x   - root       hadoop          0 2025-01-30 09:15 /tmp/active_cities.csv
-rw-r--r--   2 root       hadoop  343317147 2025-01-20 10:42 /tmp/customers.csv
-rw-r--r--   2 root       hadoop       5488 2025-02-01 16:12 /tmp/customers_100.csv
-rw-r--r--   2 root       hadoop   10528211 2025-01-20 10:31 /tmp/customers_10mb.csv
-rw-r--r--   2 mayank0953 hadoop    1060750 2025-01-20 10:23 /tmp/customers_1mb.csv
-rw-r--r--   2 mayank0953 hadoop  570783961 2025-01-22 17:12 /tmp/customers_500mb.csv
-rw-r--r--   2 root       hadoop        343 2025-02-01 02:49 /tmp/data_type.csv
drwxr-xr-x   - anonymous  hadoop          0 2025-01-23 16:41 /tmp/external
drwxrwxrwt   - hdfs       hadoop          0 2025-01-20 09:57 /tmp/hadoop-yarn
drwx-wx-wx   - hive       hadoop          0 2025-01-20 09:57 /tmp/hive
-rw-r--r--   2 root       hadoop         83 2025-01-26 19:11 /tmp/inputhdfsdbz.txt
drwxr-xr-x   - root       hadoop          0 2025-02-01 17:15 /tmp/mera
-rw-r--r--   2 root       hadoop        902 2025-02-01 05:39 /tmp/nested_structure.json

In [25]:
df_2 = spark.read \
.format('csv')\
.option('header',"true")\
.option('inferSchema','true')\
.load('/data/customers_100.csv')

In [14]:
df_2.show()

+-----------+-----------+---------+-----------+-------+-------------------+---------+
|customer_id|       name|     city|      state|country|  registration_date|is_active|
+-----------+-----------+---------+-----------+-------+-------------------+---------+
|          0| Customer_0|     Pune|Maharashtra|  India|2023-06-29 00:00:00|    false|
|          1| Customer_1|Bangalore| Tamil Nadu|  India|2023-12-07 00:00:00|     true|
|          2| Customer_2|Hyderabad|    Gujarat|  India|2023-10-27 00:00:00|     true|
|          3| Customer_3|Bangalore|  Karnataka|  India|2023-10-17 00:00:00|    false|
|          4| Customer_4|Ahmedabad|  Karnataka|  India|2023-03-14 00:00:00|    false|
|          5| Customer_5|Hyderabad|  Karnataka|  India|2023-07-28 00:00:00|    false|
|          6| Customer_6|     Pune|      Delhi|  India|2023-08-29 00:00:00|    false|
|          7| Customer_7|Ahmedabad|West Bengal|  India|2023-12-28 00:00:00|     true|
|          8| Customer_8|     Pune|  Karnataka|  India|2023-06-22 00:00:00|     true|
|          9| Customer_9|   Mumbai|  Telangana|  India|2023-01-05 00:00:00|     true|
|         10|Customer_10|     Pune|    Gujarat|  India|2023-08-05 00:00:00|     true|
|         11|Customer_11|    Delhi|West Bengal|  India|2023-08-02 00:00:00|    false|
|         12|Customer_12|  Chennai|    Gujarat|  India|2023-11-21 00:00:00|    false|
|         13|Customer_13|  Chennai|  Karnataka|  India|2023-11-06 00:00:00|     true|
|         14|Customer_14|Hyderabad| Tamil Nadu|  India|2023-02-07 00:00:00|    false|
|         15|Customer_15|   Mumbai|    Gujarat|  India|2023-03-02 00:00:00|     true|
|         16|Customer_16|  Chennai|  Karnataka|  India|2023-04-05 00:00:00|    false|
|         17|Customer_17|Hyderabad|West Bengal|  India|2023-08-21 00:00:00|    false|
|         18|Customer_18|     Pune|      Delhi|  India|2023-10-04 00:00:00|     true|
|         19|Customer_19|  Kolkata|    Gujarat|  India|2023-02-05 00:00:00|     true|
+-----------+-----------+---------+-----------+-------+-------------------+---------+
only showing top 20 rows

In [16]:
df_2.printSchema()

root
 |-- customer_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- country: string (nullable = true)
 |-- registration_date: timestamp (nullable = true)
 |-- is_active: boolean (nullable = true)

In [18]:
active_customers = df_2.filter('is_active=true')

In [19]:
active_customers

DataFrame[customer_id: int, name: string, city: string, state: string, country: string, registration_date: timestamp, is_active: boolean]

In [20]:
active_customers.show()

+-----------+-----------+---------+-----------+-------+-------------------+---------+
|customer_id|       name|     city|      state|country|  registration_date|is_active|
+-----------+-----------+---------+-----------+-------+-------------------+---------+
|          1| Customer_1|Bangalore| Tamil Nadu|  India|2023-12-07 00:00:00|     true|
|          2| Customer_2|Hyderabad|    Gujarat|  India|2023-10-27 00:00:00|     true|
|          7| Customer_7|Ahmedabad|West Bengal|  India|2023-12-28 00:00:00|     true|
|          8| Customer_8|     Pune|  Karnataka|  India|2023-06-22 00:00:00|     true|
|          9| Customer_9|   Mumbai|  Telangana|  India|2023-01-05 00:00:00|     true|
|         10|Customer_10|     Pune|    Gujarat|  India|2023-08-05 00:00:00|     true|
|         13|Customer_13|  Chennai|  Karnataka|  India|2023-11-06 00:00:00|     true|
|         15|Customer_15|   Mumbai|    Gujarat|  India|2023-03-02 00:00:00|     true|
|         18|Customer_18|     Pune|      Delhi|  India|2023-10-04 00:00:00|     true|
|         19|Customer_19|  Kolkata|    Gujarat|  India|2023-02-05 00:00:00|     true|
|         20|Customer_20|Hyderabad|  Telangana|  India|2023-01-01 00:00:00|     true|
|         21|Customer_21|Bangalore| Tamil Nadu|  India|2023-05-30 00:00:00|     true|
|         22|Customer_22|  Chennai|West Bengal|  India|2023-08-03 00:00:00|     true|
|         26|Customer_26|    Delhi|      Delhi|  India|2023-03-22 00:00:00|     true|
|         27|Customer_27|Ahmedabad|    Gujarat|  India|2023-07-08 00:00:00|     true|
|         28|Customer_28|Hyderabad|Maharashtra|  India|2023-05-31 00:00:00|     true|
|         34|Customer_34|  Kolkata|    Gujarat|  India|2023-11-01 00:00:00|     true|
|         36|Customer_36|Ahmedabad| Tamil Nadu|  India|2023-10-07 00:00:00|     true|
|         37|Customer_37|Hyderabad|  Karnataka|  India|2023-03-21 00:00:00|     true|
|         42|Customer_42|Bangalore|    Gujarat|  India|2023-08-11 00:00:00|     true|
+-----------+-----------+---------+-----------+-------+-------------------+---------+
only showing top 20 rows

In [22]:
selected_columns = df_2.select('customer_id','name','city')

In [24]:
selected_columns.show()

+-----------+-----------+---------+
|customer_id|       name|     city|
+-----------+-----------+---------+
|          0| Customer_0|     Pune|
|          1| Customer_1|Bangalore|
|          2| Customer_2|Hyderabad|
|          3| Customer_3|Bangalore|
|          4| Customer_4|Ahmedabad|
|          5| Customer_5|Hyderabad|
|          6| Customer_6|     Pune|
|          7| Customer_7|Ahmedabad|
|          8| Customer_8|     Pune|
|          9| Customer_9|   Mumbai|
|         10|Customer_10|     Pune|
|         11|Customer_11|    Delhi|
|         12|Customer_12|  Chennai|
|         13|Customer_13|  Chennai|
|         14|Customer_14|Hyderabad|
|         15|Customer_15|   Mumbai|
|         16|Customer_16|  Chennai|
|         17|Customer_17|Hyderabad|
|         18|Customer_18|     Pune|
|         19|Customer_19|  Kolkata|
+-----------+-----------+---------+
only showing top 20 rows

In [26]:
spark.stop()